
<%- include("includes/header") %>
<body>
    <h1>Restaruant menu</h1>

   <% if(!member){ %>
<h2>Siz authenticated emassiz</h2>
   <% }else{ %>
<h2>Siz authenticated bulgansiz va sizning nickname ingiz <%= member.mb_nick %></h2>
<p>sizning telefon raqamingiz <%= member.mb_phone%></p>
   <% } %>
</body>
<%- include("includes/footer") %>